html, body { 
    --color-1: #a8e6cf;
    --color-2: #dcedc1; 
    --color-3: #ffd3b6; 
    --color-4: #ffaaa5; 
    --color-5: #ff8b94;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

/***********
  LAYOUT
************/

body {
    padding-top: 50px;
    background-image: linear-gradient(135deg, #0ae6fa, #fff);
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    color: black;
}


.container {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
    padding: 50px;
}

.players {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.dice {
    border-radius: 10px;
    width: 1.5em;
    background-color: #92f285;
    margin: 0 auto;
    font-size: 5rem;
    display: block;
    align-items: center;
    justify-content: center;
}

.footer-notes {
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
}

.notes {
    max-width: 400px;
    text-align: start;
}


/***********
  BUTTONS
************/

button {
    color: #fff;
    padding: 20px 30px;
    font-size: 20px;
    margin: 40px auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#rollBtn {
    background-color: #c496fa;
}

#resetBtn {
    background-color: #d8b8fc;
}

button:focus {
    outline: none;
}

#resetBtn {
    display: none;
}


/***********
  ANIMATION
************/

.active {
    box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
}

.zoom-in {
    display: block;
    animation: zoomIn .5s;
}

.run-through-right {
    display: block;
    animation: runThroughRight .5s;
}

.run-through-left {
    display: block;
    animation: runThroughLeft .5s;
}


@keyframes zoomIn {
    from {
       transform: scale(10) ;
    }
    
    to {
        transform: scale(0) ;
    }
}

@keyframes runThroughLeft {
    from {
        transform: translateX(-1000%);
    }
    to {
        transform: translateX(0%)
    }
}

@keyframes runThroughRight {
    from {
        transform: translateX(1000%)
    }
    to {
        transform: translateX(0%)
    }
}